{% extends "map2.html" %}

{% block title %}Apartment search{% endblock %}

{% block content %}

  <!--
<div id="map_controls">

  <form action="/craigslist" method="GET">
    <p><label for="id_max_price">Max Price:</label><input id="id_max_price" name="max_price" type="text" value="1800"></p>
    <p><label for="id_min_price">Min Price:</label><input id="id_min_price" name="min_price" type="text" value="0"></p>
    
    <a id="refresh" href="">Refresh</a>

    <span id="page_nav">
      <a class="hidden" id="previous" href="">&#60;</a>
      <span id="page_number">1</span>
      <a id="next" href="">&#62;</a>
    </span>

  </form>
</div>
-->

{% endblock %}
